{% extends "base_index.html" %}

{% block content %}
<body class="create_body">
    <form method="POST" action="" enctype="multipart/form-data" class="container mt-5">
        {% csrf_token %}
        
        <div class="form-group hiding">
            {{ form.user_props.label_tag }}
            {{ form.user_props }}
        </div>

        <div class="create_div">
            <div class="form-group">
                {{ form.prop_name.label_tag }}
                {{ form.prop_name }}
            </div>

            <div class="form-group">
                {{ form.price.label_tag }}
                {{ form.price }}
            </div>

            <div class="form-group">
                {{ form.address.label_tag }}
                {{ form.address }}
            </div>

            <div class="form-group">
                {{ form.state.label_tag }}
                {{ form.state }}
            </div>

            <div class="form-group">
                {{ form.city.label_tag }}
                {{ form.city }}
            </div>

            <div class="form-group">
                {{ form.zip_code.label_tag }}
                {{ form.zip_code }}
            </div>

            <div class="form-group">
                {{ form.size.label_tag }}
                {{ form.size }}
            </div>

            <div class="form-group">
                {{ form.available.label_tag }}
                {{ form.available }}
            </div>

            <div class="form-group">
                {{ form.picture.label_tag }}<br>
                {{ form.picture }}
            </div>

            <div class="form-group">
                <p>Description</p>
                {{ form.desc }}
            </div>

            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </form>
</body>
{% endblock content %}
